---
import HeaderImage from "../components/header-image.astro";
import "../style/global.css";
const siteTitle = "Surfclubb Links";
const description = "Sitios donde encontrarnos";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="description" content={description} />
    <meta name="twitter:image" content="images/logo.svg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@surfclubb" />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/images/logo.svg" />
    <title>{siteTitle}</title>
    <meta name="theme-color" content="#000000" />

    <script defer data-domain="surfclubb.com" src="/src/scrypts/scryptPortada.js"
    ></script>
  </head>
  <body>
    <main class="relative flex h-full w-full flex-col items-center text-black">
      <div class="flex flex-col items-center px-4 text-center">
        <div class="py-4"></div>

        <!-- Header image w/ blur hash svg -->
        <div class="w-48 xl:w-96"><HeaderImage /></div>

        <h1 class="pt-2 text-4xl font-bold">Surfclubb.com</h1>
        <h2 class="text-2xl">
          Olas Artificiales @<a class="text-black" href="https://surfclubb.com"
            >Surfclubb</a
          >
        </h2>
        <h4 class="text-xl">
          Nos gustan las Tablas, el agua, la música y la creación de negocios.
        </h4>
      </div>
      <div class="py-2"></div>
      <div
        class="links flex flex-col space-y-4 text-center text-xl font-bold text-theo-blue"
      >
        <ul class="text-2xl font-bold text-black">Canales Principales</ul>
        <li>
          <a href="https://www.youtube.com/c/surfclubbcom">Youtube</a>
        </li>
        
        <li>
          <a href="https://twitter.com/surfclubbcom">Twitter</a>
        </li>
      
        <li>
          <a href="/blog" rel="prefetch">Surfclubb Blog</a>
        </li>
        <ul class="text-2xl font-bold text-black">Más cosas</ul>
        
        
        <li>
          <a href="/">Web Surfclubb</a>
        </li>
      </div>
    </main>
  </body>
</html>

<style>
  ul,
  li {
    @apply list-none;
  }
  body {
    background-color: rgba(247, 242, 254, 1);
    background-image: url("/images/bg-texture.png");
  }
</style>
